/*------------MAIN PAGE LAYOUT---------------*/

html {
  height: 100%;
  font-family: 'Quicksand', sans-serif;
}

body {
  overscroll-behavior-y: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin: 0;
  background-image:
    linear-gradient(
      #134d71 15%, 
      #78a7c6, 
      #f7e4bf
  );
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
}

.green-gradient {
  background-image:
    linear-gradient(
      #134d71 15%, 
      #78a7c6, 
      #8abe97
  );
}

.pink-gradient {
  background-image:
    linear-gradient(
      #134d71 15%, 
      #78a7c6, 
      #f8b0b0
  );
}

.input-wrapper {
/* .form-box { */
  /* border: none; */
  border: solid;
  border-color: red;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  /* background-color: #ffffff; */
  border-radius: 10px;
  /* height: 7rem; */
  /* flex-wrap: wrap; */
  /* width: 300px; */
  /* margin-right: 1rem; */
}

input[id^='id'] {
  /* background: red; */
  /* border-radius: 10px; */
  font-size: 3rem;
  text-align: center;
  margin-right: 0.3rem;
  margin-bottom: 0.3rem;
  /* border: none; */
  border-color: light-grey;
}

input[type=text][disabled],
select[disabled] {
    color: white;
    /* background-color: white; */
    /* border: initial; */
}

input[data-status='exact_match'] {
  /* background-color: green; */
  background-color: #6aaa64;
}

input[data-status='match'] {
  /* background-color: yellow; */
  background-color: #c9b458;
}

input[data-status='nomatch'] {
  /* background-color: grey; */
  background-color: #787C7E;
}

@media screen and (max-width: 500px) {
  .input-wrapper {
      border: solid;
      border-color: blue;
      /* display: flex; */
      /* flex-basis: 20%; */
    }

    input[id^='id'] {
      font-size: 3rem;
      margin-right: 0.1rem;
      margin-bottom: 0.1rem;
    } 

}

/* input:disabled,
input[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  background-color: red;
  color: red;
} */