/*------------MAIN PAGE LAYOUT---------------*/
* {
  margin: 0;
  padding: 0;
  /* border: solid;
  border-color: red;  */
  /* opacity: 0; */
  /* filter: grayscale(1); */
  /* background-color: black; */
}

html {
  /* height: 100%; */
  /* font-family: 'Quicksand', sans-serif; */
  /* overflow: hidden; */
  overscroll-behavior-y: hidden;
  padding: env(safe-area-inset); /*this is the missing piece. Add it.*/
}

body {
  /* overscroll-behavior-y: none; */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-size: 16px;
  /* background-image:
    linear-gradient(
      #134d71 15%, 
      #78a7c6, 
      #f7e4bf
  ); */
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
}

.header {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  height: 8vh;
  width: 400px;
  width: 425px;
  margin-bottom: 20px;
  border-bottom: solid;
  border-color: grey;
  justify-content: space-around;
}

/* .header-icon {
  height: 25px;
  width: 25px;
  /* isolation: isolate; */
  /* position: relative;
  z-index: 100; */
/* } */

.header-icon-svg {
  height: 26px;
  width: 26px;
  background-color: none;
  /* fill: black; */
  /* position: fixed; */
  /* bottom: 32px; */
}

.spacer1,
.spacer2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 85px;
  /* justify-content: center; */
  /* align-items: center; */
} 

.solution, 
.definition {
  /* margin-top: 15rem; */
  width: 100px;
  /* margin: 30px; */
  text-align: center;
  border: solid;
  border-color: black;
  border-radius: 5px;
  /* color: black;
  background-color: white;

  color: white;
  background-color: black; */

  position: absolute;
  z-index: 5;
  animation: skew 3s infinite;
  animation-iteration-count: 5;
  /* transform: skew(20deg); */
  animation-direction: alternate;
  /* animation-duration: 3s; */
  padding: 0.2rem;
  margin-top: 35px;

}

.definition {
  width: 250px;
  /* margin: 75px; */
  /* margin-top: 18rem;
  margin-top: 3rem; */
  /* text-align: center; */
  padding: 0.5rem;
  margin-top: 75px;
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6.5rem;
  height: 35px;
  width: 175px;
  /* color: white;
  background-color: black; */
  /* border: none; */
  border-radius: 5px;
  position: absolute;
  z-index: 2;
}

/* @keyframes skew {
  0% {
    transform: skewX(20deg);
  }
  100% {
    transform: skewX(-20deg);
  }
} */

/*--------- INSTRUCTION BOX -------------*/
.main-content {
  /* border: solid red; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 425px;
  height: 375px;
  position: relative;
}

.instruction-wrapper {
  background-color: white;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  /* height: 60%; */
  height: 475px;
  /* width: 50%; */
  width: 375px;
  border: solid;
  border-color: whitesmoke;
  border-radius: 5px;
  /* margin-top: 4.2rem; */
  /* position: absolute; */
  z-index: 2;
  /* opacity: 90%; */
  /* overflow: scroll; */
  /* border: thin solid; */
  /* box-sizing: border-box; */
  /* box-shadow:
  inset 0 -3em 3em rgba(0,0,0,0.1),
        0 0  0 2px rgb(255,255,255),
        0.3em 0.3em 1em rgba(0,0,0,0.3); */
  position: absolute;
}

.confetti-lottiplayer-wrapper {
  margin-top: 75px;
  margin-top: 0rem;
  position: absolute;
  z-index: 3;
}

.instx-title {
  display: flex;
  justify-content: space-between;
  margin: 0px 10px;
  border-bottom: solid;
  border-color: lightgrey;
}

.click-to-hide-x {
  /* color: grayscale; */
  /* font-size: 15px; */
  font-weight: lighter;
}

.click-to-hide-x:hover {
  color: black;
  font-size: 16px;
}

p {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0.75rem;
  font-size: 0.75rem;
  /* font-style: bolder; */
  font-weight: 700;
  /* margin: 0.4rem; */
}

input[id^='tile'] {
  height: 2rem;
  width: 2rem;
  /* font-size: 1rem; */
  text-align: center;
  margin-right: 0.3rem;
  margin-bottom: 0.3rem;
  border-color: light-grey;
  opacity: 1;
  filter: grayscale(0);
  border: thin solid black;
  /* border-color: black; */
  border-radius: 0px;
}

input[id^='tile'][disabled] {
  color: black;
  /* background-color: white; */
  /* opacity: 1; */
  /* filter: grayscale(0); */
}

.example-border {
  margin: 10px;
  padding: 0px;
  border-top: solid;
  border-bottom: solid;
  border-color: lightgrey;
}

.copy-notification {
  /* margin-top: 230px; */
  position: absolute;
  z-index: 6;
  /* border: solid black;
  background: white; */
  border-radius: 5px;
  width: 150px;
  text-align: center;
  position: relative;
  height: 40px;
  padding: 3px;
  margin-top: 75px;
}

/* ----------------------- */

.input-wrapper {
/* .form-box { */
  /* border: none; */
  /* border: solid; */
  /* border-color: red; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  /* background-color: #ffffff; */
  border-radius: 10px;
  /* height: 7rem; */
  flex-wrap: wrap;
  width: 350px;
  /* margin-right: 1rem; */
  /* position: relative; */
  z-index: 1;
  position: absolute;
}

.instrx-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 10px;
    /* z-index: 1; */
  }

input[id^='id'] {
  /* background: red; */
  /* border-radius: 10px; */
  /* height: 3.5rem;
  width: 3.5rem; */
  text-align: center;
  margin-right: 0.3rem;
  margin-bottom: 0.3rem;
  height: 56px;
  width: 56px;
  font-size: 3rem;
  /* border: none; */
  /* border: solid;
  border-color: black; */
  border: thin solid black;
  border-radius: 0px;
  /* border-color: light-grey; */
  z-index: 4;
}

input[data-status='noMatch'] {
  /* background-color: grey; */
  color: white;
  background-color: #787C7E;
  pointer-events: none;
  cursor: not-allowed;
}

input[data-status='match'] {
  /* background-color: yellow; */
  color: white;
  /* background-color: #c9b458; */
  pointer-events: none;
  cursor: not-allowed;
}

input[data-status='exactMatch'] {
  /* background-color: green; */
  color: white;
  /* background-color: #6aaa64; */
  pointer-events: none;
  cursor: not-allowed;
}

/* input[data-status='gameOver'] { */
  /* font-size: 0;
  pointer-events: none;
  cursor: not-allowed;
  border-color: none; */
  /* height: 3.5rem; */
  /* width: 3.5rem; */
  /* font-size: 0rem; */
  /* margin-right: 0.3rem; */
  /* margin-bottom: 0.3rem; */
/* } */

input[type=text][disabled][data-status='gameOver'] {
  /* font-size: 0; */
  opacity: 1;
  filter: grayscale(0);
  color: white;
  /* color: blue; */
  background-color: white;
  /* border: initial ; */
  height: 3.5rem;
  width: 3.5rem;
  /* font-size: 0rem; */
  margin-right: 0.3rem;
  margin-bottom: 0.3rem;
}

input[type=text][data-status='start'] {
  pointer-events: none;
  cursor: not-allowed;
}

/*------- KEYBOARD -----------*/
.keyboard-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 400px;
  margin-top: 30px;
  margin-top: 20px;
  width: 425px;
}

.keyboard-button {
  height: 3.2rem;
  width: 2rem;
  margin-right: 0.3rem;
  margin-bottom: 0.3rem;
  border: none;
  border-radius: 5px;
  color: black;
  font-size: 16px;
  /* background-color: #787C7E; */
  /* background-color: #939598; */
  /* background-color: #d8d8d8; //todo */
  /* font-size: 1rem; */
  width: 2.35rem;
}

.enter-button,
.back-button {
  width: 3.6rem;
  background-color: #939598;
}

/* .back-button {
  font-size: 23px;
} */

.backspace-svg-icon {
  height: 25px;
  width: 25px;
  stroke: black;
  /* stroke-width: 0.1; */
  stroke-width: 0.2;
  /* stroke-width: 0.3;
  stroke-width: 0.4; */
  /* stroke-width: 0.5; */
  stroke-width: 1.0;
  margin-top: 0.3rem;
}

/*-------- HAMBURGER MENU ---------*/
.hamburger-wrapper {
  /* display: flex;
  flex-direction: column; */
  width: 260px;
  /* margin-top: 70px; */
  /* bottom: unset; */
  /* right: unset; */
  /* border: solid; */
  border: thin solid;
  /* border-color: black; */
  border-radius: 4px;
  /* background: #100f2c; */
  background-color: white;
  /* color: black; */
  position: absolute;
  z-index: 4;
  transition: all 0.5s ease;
  /* cursor: pointer; */
  border: 3px solid;
  border-color: whitesmoke;
  border-radius: 5px;
  left: 0;
}

.hamburger-menu {
  display: flex;
  /* justify-content: space-evenly; */
  padding: 5px;
  margin: 0px 10px 10px 0;
}

.mode-description {
  width: 175px;
  margin-bottom: 0;
}

.hamburger-menu p {
  margin-bottom: 0;
  text-align: left;
}

.mode {
  margin: 0.4rem;
  font-size: 16px;
}

.toggle-detail {
  margin-top: 0;
  color: grey;
  margin-left: 0.4rem;
}

.hamburger-toggle {
  text-align: right;
  width: 50px;
  text-align: left;
  text-align: center;
}

.toggleDefinition {
  height: 32px;
  width: 32px;
}

.click-to-hide {
  /* width: 235px; */
  text-align: right;
  position: absolute;
  font-size: 20px;
  color: grey;
  font-weight: lighter;
  /* margin: 0; */
  margin-top: auto;
  background: transparent;
  position: absolute;
  right: 0px;
}

.click-to-hide:hover {
  color: black;
  font-size: 24px;
  /* font-weight: bolder; */
}

/*-------- GAME STATS ---------*/
.gameStats-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 260px;
  /* right: 0; */
  background-color: white;
  /* border: thin solid; */
  border: 3px solid;
  border-color: whitesmoke;
  /* border-radius: 4px; */
  border-radius: 5px;
  position: absolute;
  z-index: 4;
  transition: all 0.5s ease;
  left: 0;
}

.stat-description {
  width: 85px;
  margin-bottom: 0;
}

.gameStats-menu {
  display: flex;
  flex-direction: row;
  width: 225px;
  margin: 0px;
  margin-top: 15px;
  border-bottom: solid;
  border-color: lightgrey;
}

.gameStats-menu p {
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: left;
  text-align: center;
}

.win-stats-wrapper {
  display: flex;
  flex-direction: column;
  width: 260px;
  align-items: center;
}

.win-description {
  width: 225px;
  margin: 15px 0px 0 0;
  text-align: center;
}

.bars-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 225px;
  align-items: center;
  border-bottom: solid;
  border-color: lightgrey;
  padding-bottom: 10px;
}

.row-number {
  width: 10px;
  margin: 9px;
}

.gameBoard-wrapper {
  width: 225px;
  margin-bottom: 20px;
  /* border-bottom: solid;
  border-color: lightgrey; */
  margin-bottom: 5px;
  padding: 5px;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

/* progress {
  border-radius: 7px;
  width: 125px;
  border: solid grey;
  border-radius: 15px;
  margin: 0px;
  /* width: 80%;
  height: 22px;
  margin-left: -11.5%; */
  /* box-shadow: 1px 1px 4px rgba( 0, 0, 0, 0.2 ); */
/* } */

/* progress::-webkit-progress-bar {
  background-color: white;
  border-radius: 7px;
  margin: 0;
  padding: 0;
} */

/* progress::-webkit-progress-value {
  background-color: black;
  border-radius: 7px;
} */

.bar-wrapper {
  color: white;
  background: white;
  /* text-align: right; */
  border: solid black;
  border-radius: 15px;
  font-size: 12px;
  height: 14px;
  padding-right: 10px;
  width: 135px;
}

.progress-bar2 {
  color: white;
  background: black;
  text-align: right;
  /* border: solid; */
  border-radius: 15px;
  font-size: 12px;
  height: 14px;
  /* width: calc(225px / 2); */
  padding-right: 10px;
  /* padding-top: 1px; */
  position: absolute;
  z-index: 2;
  position: relative;
  min-width: 15px;
  /* width: 50px; */
}

.win-percent {
  width: 35px;
  text-align: right;
  margin: 0;
}

.game-board {
  /* display: flex;
  flex-direction: rows;
  height: 80px;
  width: 60px;
  margin: auto;
  margin-bottom: 20px;
  transform: scale(1.15);
  flex-direction: inherit;
  flex-wrap: wrap;
  width: 64px;
  width: 75px; */

  /* display: flex;
  justify-content: center; */
  margin: auto;
  transform: scale(1.15);
  flex-direction: row;
  flex-wrap: wrap;
  /* width: 75px; */
  margin-bottom: 2px;
  letter-spacing: 1px;
  width: 200px;
  /* /* text-align: left; */
  /* margin-left: 0; */
  width: 195px;
}

.stats-buttons {
  width: 195px;
  /* margin-top: 15px; */
  /* margin-bottom: 20px; */
  border-top: solid;
  border-color: lightgrey;
  padding: 15px;
}

.current-game-text {
  margin: 0 0 10px 0;
  text-align: left;
  margin-left: 0px;
}

/*-------- DARK MODE & CONTRAST -------*/
/* see light-theme.css and dark-theme.css */

/*----------- CLOAK / HIDE / SHOW -----*/
.cloak {
  visibility: hidden;
}

.hidden {
  display: none;
}

.show {
  display: flex;
}

/*------- MEDIA QUERIES -----------------*/
@media screen and (max-width: 600px) {
  .header {
    margin-bottom: 10px;
    width: 350px;
  }

  h1 {
    font-size: 24px;
  }

  progress {
    width: 150px;
  }

  .main-content {
    /* border: solid red;
    display: flex;
    justify-content: center; */
    width: 350px;
    height: 280px;
    /* position: relative; */
  }

  .input-wrapper {
    width: 300px;
    width: 275px;
    /* border: solid; */
    /* border-color: blue; */
    display: flex;
    /* flex-basis: 20%; */
    /* overflow: scroll; */
    width: 250px;
    flex-wrap: wrap;
    }

    input[id^='id'] {
      height: 3rem;
      width: 3rem;
      font-size: 2rem;
      margin-right: 0.1rem;
      margin-bottom: 0.1rem;
      height: 2.7rem;
      width: 2.7rem;
    } 

    input[type=text][disabled][data-status='gameOver'] {
      /* font-size: 0; */
      opacity: 1;
      filter: grayscale(0);
      color: white;
      background-color: white;
      height: 3rem;
      width: 3rem;
      font-size: 2rem;
      margin-right: 0.1rem;
      margin-bottom: 0.1rem;
      height: 2.7rem;
      width: 2.7rem;
    }

    .keyboard-wrapper {
      margin-top: 10px;
      width: 350px;
    }

    .keyboard-button {
      /* height: 2.8rem; */
      width: 1.7rem;
    }

    .enter-button,
    .back-button {
      width: 3.1rem;
      font-size: 14px;
      font-weight: 450;
    }

    /* .back-button {
      font-size: 20px;
    } */

    /* height: 2rem;
    width: 2rem;
    font-size: 1rem; */

/*--------- INSTRUCTION BOX -------------*/
    .instruction-wrapper {
      background-color: white;
      /* display: flex;
      flex-direction: column;
      align-items: center; */
      /* height: 60%; */
      height: 410px;
      /* width: 50%; */
      width: 275px;
      /* margin-top: 5rem; */
      /* position: absolute;
      z-index: 2; */
      /* opacity: 90%; */
      /* overflow: scroll; */
    }

    p {
      /* display: flex;
      flex-direction: column;
      text-align: center; */
      margin: 0.4rem;
      /* font-size: 0.75rem; */
      /* font-style: bolder; */
      /* font-weight: 700; */
    }

    input[id^='tile'] {
      height: 1.5rem;
      width: 1.5rem;
      /* font-size: 1rem; */
      /* text-align: center; */
      /* margin-right: 0.1rem;
      margin-bottom: 0.1rem; */
      /* border-color: light-grey; */
    }

/*----------- DARK MODE TOGGLE ------------*/
    .darkmode-toggle {
      right: 30px;
      bottom: 10px;
    }

    .contrast-toggle {
      left: 30px;
      bottom: 10px;
    }    
}