/*------------MAIN PAGE LAYOUT---------------*/



/*----------- CONFETTI ----------------*/
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #21d4fd;
  /* background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%); */
  font-family: Helvetica, sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.hoverme {
  width: 240px;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
  position: relative;
  h1 {
    color: #fff;
    font-size: 1.5em;
  }
  i {
    position: absolute;
    display: block;
    left: 50%;
    top: 0;
    width: 5px;
    height: 10px;
    background: red;
    opacity: 0;
  }
  &:hover {
    @for $i from 1 through 50 {
      i:nth-of-type(#{$i}) {
        transform: translate3d(
            random(190) - 100 + px,
            random(200) - 100 + px,
            0
          )
          rotate(random(360) + deg);
        background: hsla(random(360), 100%, 50%, 1);
        animation: bang 700ms ease-out forwards;
        opacity: 0;
      }
    }
<<<<<<< HEAD
  }
}
@keyframes bang {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
=======

    input[id^='id'] {
      height: 2rem;
      width: 2rem;
      font-size: 1rem;
      margin-right: 0.1rem;
      margin-bottom: 0.1rem;
    } 

}

/* input:disabled,
input[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  background-color: red;
  color: red;
} */
>>>>>>> parent of 2fcfe48 (Fix disabled css for iphone)
